<h1>ADMIN PAGE</h1>

<hr/>

<h2>ADMIN LOG IN</h2>
<form id="login" method="POST" action="admin/login">
	Email Address: <input name="user" type="text" /><br/>
	Password: <input name="password" type="password" /><br/>
	<button onclick="submit_form1();">Login</button>
</form>

<hr/>

<h2>ADMIN REGISTER</h2>
<form id="register" method="POST" action="admin/register">
Email Address: <input name="user1" type="text" /><br/>
Password: <input name="password1" type="password" /><br/>
Repeat Password: <input name="password2" type="password" /><br/>
<button onclick="submit_form2();">Register</button>
</form>



<script>
//submit login form:
function submit_form1(){
	if($('input[name=user]').val().trim() == ''){
		alert('all field requireed!');
		event.preventDefault();
		return false;
	}
	if($('input[name=password]').val().trim() == ''){
		alert('all field requireed!');
		event.preventDefault();
		return false;
	}
}
//submit register form:
function submit_form2(){
	if($('input[name=user1]').val().trim() == ''){
		alert('all field requireed!');
		event.preventDefault();
		return false;
	}
	if($('input[name=password1]').val().trim() == ''){
		alert('all field requireed!');
		event.preventDefault();
		return false;
	}
	if($('input[name=password2]').val().trim() == ''){
		alert('all field requireed!');
		event.preventDefault();
		return false;
	}
	if($('input[name=password1]').val() !== $('input[name=password2]').val()){
		alert('passwords do not match!');
		event.preventDefault();
		return false;
	}
}

</script>