<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Pixafy Tech Exam</title>
<base href="http://www.369usa.com/techexam/">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

</head>
<body>

<div style="background:pink;">
<ul>
	<li><a href="home">home(user login)</a></li>
	<li><a href="admin">admin login</a></li>
	<li><a href="dashboard">dashboard</a></li>
	<li><a href="adminpanel">admin panel</a></li>
</ul>
</div>